@import "mixins/banner";
@include bsBanner("");

// scss-docs-start import-stack
// Configuration
@import "functions";
@import "variables";
@import "variables-dark";
@import "maps";
@import "mixins";
@import "utilities";

// Layout & components
@import "root";
@import "reboot";
@import "type";
@import "images";
@import "containers";
@import "grid";
@import "container-grid";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "nav";
@import "navbar";
@import "card";
@import "accordion";
@import "breadcrumb";
@import "pagination";
@import "badge";
@import "alert";
@import "progress";
@import "list-group";
@import "close";
@import "toasts";
@import "modal";
@import "tooltip";
@import "popover";
@import "carousel";
@import "spinners";
@import "offcanvas";
@import "placeholders";

// Helpers
@import "helpers";

// Utilities
@import "utilities/api";
// scss-docs-end import-stack

// my custom
// @import "utilities/text";

.brand-text-icon {
    font-size: 26px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: $primary;
    text-decoration: none;

    span {
        color: $gray-900;
    }
}

header {
    border-bottom: 1px solid $gray-200;
    width: 100&;
    position: relative;

    .nav-item {
        color: $gray-900;
        font-weight: 500;
        padding-left: 2rem;
        padding-right: 2rem;
        letter-spacing: 1px;

        &:hover {
            text-decoration: underline;
            // color: $primary;
        }
        &.active {
            color: $primary !important;
        }
    }
}

.text-gray-500 {
    color: $gray-500;
}
.text-gray-800 {
    color: $gray-800;
}
.text-gray-900 {
    color: $gray-900;
}

section {
    margin-bottom: 70px;
}

.img-cover {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.img-contain {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.card {
    height: 100%;

    .tag {
        z-index: 3;
        font-size: 0.875rem;
        background-color: $pink;
        padding: 0.25rem 1.25rem;
        position: absolute;
        top: 0;
        right: 0;
        color: $white;
        min-height: 30px;
        border-radius: 0 15px 0 15px;

        span {
            font-weight: 300;
        }
    }

    .img-wrapper {
        height: 100%;
        margin-bottom: 0;
        border-radius: 0.9375;
        overflow: hidden;
    }

    .meta-wrapper {
        margin-top: 1rem;
        h5 {
            font-size: 1.125rem;
            margin-bottom: 2px;
        }
        span {
            font-size: 0.875rem;
        }
    }

    &.card-feature {
        overflow: hidden;
        cursor: pointer;
        height: 100%;
        border-radius: 15px;
        &::after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transform: scale(1.1);
            transition: 0.5s transform ease-in-out;
            z-index: 2;
            @include gradient-y(rgba($black, 0), rgba($black, 0.51), 0%, 100%);
        }

        .img-wrapper {
            z-index: 1;
            margin: 0;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            transform: scale(1.1);
            transition: 0.25 transform ease-in-out;
            border-radius: $border-radius;
        }

        .meta-wrapper {
            z-index: 4;
            color: $white;
            padding: 20px;
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            transform: translateY(0);
            transition: 0.3s transform ease-in-out;
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
        }

        &:hover {
            .meta-wrapper {
                transform: scaleY(-10px);
            }

            &::after {
                transform: scale(1);
            }

            .img-wrapper {
                transform: scale(1);
            }
        }
    }
}

.testimonial-hero,
.testimonial-hero img {
    width: 365px;
    height: 500px;
}

footer {
    padding-top: 50px;
    border-top: 1px solid $gray-200;

    .brand-tagline {
        color: $gray-500;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-left: 12px;
    }

    .col-2,
    .col-3 {
        h6 {
            text-align: start;
        }
        .list-group-item {
            padding: 0.3125rem 0;
            border: none;
            text-align: start;

            .btn {
                color: $gray-500;
                font-weight: 300;
                text-align: start;
                padding: 0;
            }
            & .btn:hover {
                color: $gray-800;
            }
            span {
                font-weight: 300;
                display: block;
                text-align: start;
                padding: 0;
                color: $gray-500;
            }
        }
    }

    .copyright {
        // margin: 50px auto;
        // padding: 35px 0;
        // color: $gray-500;
        // font-weight: 300;
        // text-align: center;

        margin: 60px 0 50px 16px;
        color: #b0b0b0;
        text-align: center;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
}
