@import "../../assets/scss/colorVariable";

.text-input {
    & label {
        display: block;
        color: #152c5b;
        // font-size: 16px;
        // font-family: "Poppins";
        // font-weight: 400;
    }

    & input {
        background-color: #f5f6f8;
        border-radius: 4px;
        border-style: none;
        padding: 5px 22px;
        color: #152c5b;
        font-family: "Poppins";
        font-size: 16px;
        font-weight: 400;
    }
}
